.main{
    background-color: #47A1ED;
    background-image: url('../imagens/background-image-index.jpg');
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerItems{
    width: 90%;
    text-align: center;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    border-radius: 10px;
    background-color: #c6c6c6d4;
}

section{
    margin: auto 0;
    margin-top: 1%;
    display: flex;
    /* border: 1px solid #000; */
    height: 500px;
}

.filterPanel{
    margin: 20px 0px 0px 20px;
    width: 25%;
    border: 1px solid #000;
    border-radius: 10px;
    justify-content: left;
    height: 450px;
    background-color: #c6c6c6e6;
}

.containerOrderBy{
    margin: 0px 0px 0px 6px;
    border: 1px solid #000;
    border-radius: 10px;
    width: 98%;
    height: 50px;
    border: 1px solid #000;
    background-color: #c6c6c6e6;
    align-self: center;
}

.listPanel{
    margin: 8px 0px 0px 5px;
    width: 72%;
    height: 100%;
    /* border: 1px solid #000; */
    justify-content: right;
    display: flex;
    flex-direction: column;
}

.containerList{
    margin: 10px 0px 0px 15px;
    width: 310px;
    height: 90%;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #ffffffcc;
    margin-left: 1%;
}
.containerList:hover{
    opacity: 0.8;
    cursor: pointer;
}


.filter{
    margin: 10px 0px 0px 8%;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.titleFilter{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

.buttonDiv{
    width: 100%;
    text-align: center;
}

button{
    width: 150px;
    height: 40px;
    background-color: green;
    margin-top: 5%;
    justify-content: right;
}

.tableRow{
    display: flex;
    width: 100%;
    height: 300px;
}

.containerImage{
    display: flex;
    width: 100%;
    height: 60%;
    /* border: 1px solid #000; */
}

img{
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    text-align: center;
}

.descriptionHotel{
    margin: 0px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    height: 110px;
}

.inputFilter{
    width: 90%;
    height: 22px;
    border-radius: 5px;
    border-width: 1px;
}

.textInputFilter{
    font-size: 17px;
}

.textInfoHotel{
    font-size: 18px;
}

.valueInfoHotel{
    margin-top: 10px;
}

.starsHotel{
    font-size: 25px;
    color: red;
}