<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva Certa - Cadastro</title>

    <!-- <link rel="stylesheet" href="../login/styles.css"> -->
    <link rel="stylesheet" href="./styles.css"/>
    
  </head>
  <body class="bg-photo">
    <div class="cardContainer">
      <section class="register-panel">
        <header>
          <div class="txtIni">
            <h1>
                Reserva Certa
            </h1>
          </div>
          <div class="txtSlogan">
            <h3>Cadastre-se para realizar sua reserva.</h3>
          </div>
          <div class="resultCad">
            <div id="res" style="color:red"></div>
          </div>
          
        </header>

        <div class="containerInputs">
          <form action="">
            <div class="ContainerInputsColumn">
              <div class="divInput marginNone">
                <span class="txtNameInput">Nome Completo</span><br>
                <div class="inputCenter">
                  <input type="text" id="nome" placeholder="Nome completo" class="inputsRegister">
                </div>
              </div>
              <div class="divInput">
                  <span class="txtNameInput">CPF</span><br>
                  <div class="inputCenter">
                    <input type="text" id="cpf" placeholder="CPF" class="inputsRegister">
                  </div>
              </div>
              <div  class="divInput">
                  <span class="txtNameInput">Data de Nascimento</span><br>
                  <input type="date" id="dtNasc" class="inputsRegister inputDate">
              </div>
              <div class="divInput">
                <span class="txtNameInput">Sexo</span><br>
                <select id="sexo" class="inputsRegister select" placeholder="Sexo">
                    <option value="null">Sexo</option>
                    <option value="masc">Masculino</option>
                    <option value="fem" >Feminino</option>
                    <option value="outro">Outro</option>
                </select>
              </div>
              <div class="divInput">
                  <span class="txtNameInput">Estado Civil</span><br>
                  <select id="estadoCivil" class="inputsRegister select" placeholder="Estado Civil">
                      <option value="null">Estado Civil</option>
                      <option value="solteiro">Solteiro</option>
                      <option value="casado">Casado</option>
                      <option value="divorciado" >Divorciado</option>
                      <option value="viuvo">Viúvo</option>
                  </select>
              </div>
              <div class="divInput">
                <span class="txtNameInput">Cidade</span><br>
                <input type="text" id="cidade" placeholder="Cidade" class="inputsRegister">
              </div>
              <div class="divInput">
                  <span class="txtNameInput">Estado</span><br>
                  <input type="text" id="estado" placeholder="Estado" class="inputsRegister">
              </div>
              <div class="divInput">
                  <span class="txtNameInput">CEP</span><br>
                  <input type="number" id="cep" placeholder="CEP" class="inputsRegister">
              </div>
              <div class="divInput">
                  <span class="txtNameInput">Email</span><br>
                  <input type="email"  id="email" placeholder="Número de Celular ou e-mail" class="inputsRegister">
              </div>
              <div class="divInput">
                  <span class="txtNameInput">Senha</span><br>
                  <input type="password" id="password" class="inputsRegister" placeholder="Senha">
                  <div class="divPassword">
                    <span id="resPassword"></span>
                  </div>
              </div>
              <div class="divInput">
                  <span class="txtNameInput">Confirmação de Senha</span><br>
                  <input type="password" id="passwordConf" class="inputsRegister" placeholder="Confirmação de Senha">
              </div>
              <div class="divPassword">
                <span id="resPasswordConf"></span>
              </div>
            </div>
            <div class="txtTermos">
              <input type="checkbox" class="checkbox" id="concordo">
              <label for="concordo">Concordo com os termos,
                Política de Dados e Política de Cookies.</label>
            </div>
            <div class="ContainerButtonCad">
              <button type="button" class="btnCadastrar" onclick="validacao()">Cadastre-se</button>
            </div>
          </form>
          <footer class="sec-panel">
            <h1 class="txtConectar">Já tem uma conta?</h1>
            <a href="../login/sign_in.html"><input type="submit" class="btnConectar" value="Conecte-se" ></a>
         </footer>
        </div>
        
      </section>
    </div>
  </body>
  <script src="./valida.js"></script>
</html>