  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }  
  
  .bg-photo{
    flex: 3;
    background-color: #e6e6e642;
    background-image: url('../../../imagens/hotel.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
  }

  main {
    display: flex;
    flex-direction: column;
    background-color: #e6e6e642;
    height: 90%;
    margin-top: 2.5%;
  }

  body{
    display: flex;
    font-family: 'Roboto', sans-serif;  
  }

  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #e6e6e61a;
  }

  input:hover{
    border: 2px solid #5f5f5f;
  }

  .main-panel{
    width:  380px;
    min-height: 425px;
    margin: 0 auto;
    margin-top: 45px;
    background-color: transparent;
  }

  .sec-panel{
    text-align: center;
    width: 380px;
    min-height: 150px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .entradas-panel{
      margin-top: 10%;
      text-align: center;
  }

  .textInputLogin{
    text-align: left;
    margin-left: 20px;
  }

  .txtIni{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    color: #000;
  }
  .txtRegister{
      margin-top: 10px;
  }
  .txtCad{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .txtSlogan{
    text-align: center;
    margin-bottom: 35px;
    color: #000;
  }
  
  .txtEntradas{
    width: 90%;
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 10px;
}
  .btnCadastrar{
    width: 380px;
    height: 30px;
    margin-top: 20px;
    background-color: #0b467d;
    font-family: sans-serif;
    font-size: 22px;
    color: #e6e6e6;
    border-width: 0px;
    cursor: pointer;
  }

  .resultSubmitDiv{
    margin-bottom: 10px;
  }

  .btnConectar{
    background-color: #0b467d;
    font-family: sans-serif;
    font-size: 20px;
    color: #e6e6e6;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }
  .txtConectar{
    margin-top: 10px;
    font-size: 22px;
    font-family: sans-serif;
    color: #000;
  }

  .btnEsqueceuSenha{
    background-color: transparent;
    font-family: sans-serif;
    font-size: 15px;
    color: #000;
    border-width: 0px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 2px 3px 2px;
    color: #000;
  }
  .btnLogar{
    width: 250px;
    height: 30px;
    margin-top: 20px;
    background-color: #0b467d;
    font-family: sans-serif;
    font-size: 22px;
    color: #e6e6e6;
    border-width: 0px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .txtLogin{
    margin-bottom: 40px;
  }

  .txtTermos2{
    margin-top: 20px;
    font-size: 16px;
    margin-left: 15px;
  }
  
  .txtEntradas2{
    margin-top: 2px;
    margin-left: 4px;
    padding-left: 10px;
    width: 200px;
    height: 25px;
    border-width: 2px;
    border-color: #bfbfbf;
    color: black;
    background-color: #fbfbfb73;
  }

  .btnEsqueceuSenha2{
    margin-left: 160px;
    background-color: #c6c6c6;
    font-family: sans-serif;
    font-size: 15px;
    color: #000;
    border-width: 0px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 2px 3px 2px;
  }

  .txtSlogan2{
    margin-bottom: 45px;
  }

  .txtCad2{
    font-family: sans-serif;
    font-size: 18px;
  }

  .txtIni2{
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .borda_texto{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 3em; color: #fffdd9;
  }

  #iconComments{
    color: #000;
  }