<!DOCTYPE html>
<html lang='pt' dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale Conosco</title>
    <link rel="stylesheet" href="./styles.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>
    <body>
       <!-- <video autoplay muted loop id="myVideo">
        <source src="../imagens/bg-video.mp4" type="video/mp4">
    </video>-->
    <main>
    <section class="register-panel">
    <header>
    <hgroup>
    <div class="txtIni txtRegister">
    <h1>
        Reserva Certa
    </h1>
    </div>
        <div class="txtCad txtSlogan">
        <h3>Fale conosco...</h3>
        </div>
        </hgroup>
        </header>

    <div class="display">
    <div class="txtCad">
    <div class="containerInputs">
    <form action="">
        
        <div class="ContainerInputsColumn">
            <div id="usuário">
                <form method="POST" action="">
                    <div class="divInput marginNone">
                        <span class="txtNameInput">Nome Completo</span><br>
                        <div class="inputCenter">
                          <input type="text" id="nome" placeholder="Nome completo" class="inputsRegister">
                          <p></p>
                        </div>
                      </div>
                    <div class="divInput">
                        <span class="txtNameInput">E-mail</span><br>
                        <input type="email"  id="email" placeholder="Digite seu e-mail" class="inputsRegister">
                        <p></p>
                    </div>
                    <div class="divInput">
                        <span class="txtNameInput">Telefone</span><br>
                        <input type="int"  id="telefone" placeholder="Seu número" class="inputsRegister">
                        <p></p>
                    </div>
            
    
                <legend class="txtNameInput">Como conheceu o site:</legend>
                <div class="txtTermos2">
                <input type="radio" class="checkbox" name="escolha" id="opcao1">
                <label for="opcao1" class="txtSlogan">Através de amigos</label>
                </div>
                <div class="txtTermos2">
                <input type="radio" class="checkbox" name="escolha" id="opcao2">
                <label for="opcao2" class="txtSlogan">Redes Sociais</label>
                </div>
                <div class="txtTermos2">
                <input type="radio" class="checkbox" name="escolha" id="opcao3">
                <label for="opcao3" class="txtSlogan">Buscas na Web</label>
                </div>
                <div class="txtTermos2">
                    <input type="radio" class="checkbox" name="escolha" id="opcao4">
                    <label for="opcao4" class="txtSlogan">Indicações de Agências de Viagens</label>
                </div>

                <div  class="divInput">
                <span class="txtTermos2"> <label for="opcao5" class="txtSlogan">Outros:</label></span>
                <input type="text" name="escolha" id="opcao5" placeholder="Escreva aqui..." class="txtNameInput">
                    
            </div>
            </div> 
        </div>
    
        
    
            <div class="center">
            <p></p>
            <fieldst id="informacao"><legend>Escreva sua mensagem:</legend>
                <p></p>
            </div>
            
            <div class="txtTermos2">
            <span class="txtSlogan"></span>
            <div class="alinhaCaixaMsg">
            <textarea name="tMsg" id="cMsg" cols="60" rows="4" placeholder="Digite sua mensagem..." class="txtNameInput"></textarea>
            <p></p>
            </div>
        </div>
    
        
            </fieldst>
        
        

    

        <div class="center">
            <p></p>
            <p></p>
        <input type="submit" class="btnCadastrar" value="Enviar" ></a>
    </div>
      </div>
    </div>
</div>
</forms>
        </div>
        </section>
        </main>
    </body>
</html>