<!DOCTYPE html>
<html lang='pt' dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale Conosco</title>
    <link rel="stylesheet" href="./styles.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

</head>
    <body class="bg-photo">
    <main>
    <section class="register-panel">
    <header>
    <hgroup>
    <div class="txtIni txtRegister">
    <h1>
        Reserva Certa
    </h1>
    </div>
        <div class="txtCad txtSlogan divTxtSlogan">
            <h3>Fale conosco...</h3>
            
            <div class="resultSubmitDiv">
                <span id="resultSubmit"></span>
            </div>
        </div>
        
    </hgroup>
    </header>

    <div class="display">
    <div class="txtCad">
    <div class="containerInputs">
                <form action="">
                    
                    <div class="ContainerInputsColumn">
                        <div id="usuário">
                            <form method="POST" action="">
                                <div class="divInput marginNone">
                                    <span class="txtNameInput">Nome Completo</span><br>
                                    <div class="inputCenter">
                                    <input type="text" id="nome" placeholder="Nome completo" class="inputsRegister">
                                    <p></p>
                                    </div>
                                </div>
                                <div class="divInput">
                                    <span class="txtNameInput">E-mail</span><br>
                                    <input type="email"  id="email" placeholder="Digite seu e-mail" class="inputsRegister">
                                    <p></p>
                                </div>
                                <div class="divInput">
                                    <span class="txtNameInput">Telefone</span><br>
                                    <input type="int" id="phone" placeholder="(00) 0000-0000" class="inputsRegister">
                                    <p></p>
                                </div>
                        
                
                            <legend class="txtNameInput">Como conheceu o site:</legend>
                            <div class="txtTermos2">
                                <input type="radio" class="checkbox" name="escolha" id="opAmigos">
                                <label for="opcao1" class="txtSlogan">Através de amigos</label>
                            </div>
                            <div class="txtTermos2">
                                <input type="radio" class="checkbox" name="escolha" id="opRs">
                                <label for="opcao2" class="txtSlogan">Redes Sociais</label>
                            </div>
                            <div class="txtTermos2">
                                <input type="radio" class="checkbox" name="escolha" id="opBw">
                                <label for="opcao3" class="txtSlogan">Buscas na Web</label>
                            </div>
                            <div class="txtTermos2">
                                <input type="radio" class="checkbox" name="escolha" id="opIav">
                                <label for="opcao4" class="txtSlogan">Indicações de Agências de Viagens</label>
                            </div>

                            <div  class="divInput">
                            <span class="txtTermos2"> <label for="opcao5" class="txtSlogan">Outros:</label></span>
                            <input type="text" name="escolha" id="opcao5" placeholder="Escreva aqui..." class="txtNameInputInput">
                                
                        </div>
                        </div> 
                    </div>
                
                    
                
                        <div class="center">
                        <p></p>
                        <fieldst><legend>Escreva sua mensagem:</legend>
                            <p></p>
                        </div>
                        
                        <div class="txtTermos2">
                        <span class="txtSlogan"></span>
                        <div class="alinhaCaixaMsg">
                        <textarea name="tMsg" cols="60" rows="4" id="text" placeholder="Digite sua mensagem..." class="txtNameInputInput"></textarea>
                        <p></p>
                        </div>
                    </div>
                
                    
                        </fieldst>
                    
                    

                

                    <div class="center">
                        <p></p>
                        <p></p>
                    <button type="submit" class="btnCadastrar" value="Enviar" id="btnSubmit">Enviar</button>
                </div>
                </div>
                </div>
            </div>
            </forms>
        </div>
        </section>
        </main>
    </body>
    <script src="./valida.js"></script>
</html>